<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/product">Product</a></li>
       <li><a href="/addProduct">Add product</a></li>
    
    </nav>

      <form action="/addProduct" method="post" class="postform">
      <label for="title" class="formlabel">Title :</label>
      <input type="text" name="title" id="" class="forminput"> <br>
      <label for="image" class="formlabel">Image :</label>
      <input type="text" name="image" id="" class="forminput"><br>
      <label for="Price" class="formlabel">Price :</label>
      <input type="text" name="Price" id="" class="forminput"> <br>
      <label for="title" class="formlabel">Description :</label>
      <input type="text" name="Description" id="" class="forminput"> <br>
      <input type="submit" value="Post" class="finalPost">

      </form>

</body>
</html>